body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 15px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #ffffff; /* El color del fondo de la página web */
    color: #000000; /* El color del texto*/ 
    text-decoration-color: #000000
    
}
h1 {
    color: #001756; /* El color de la cabecera */
    font-size: 50px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}
@keyframes color-change {
    0% {
      color: rgb(0, 0, 0);
    }
  
    25% {
      color: rgb(97, 97, 97);
    }
  
    50% {
      color: rgb(189, 189, 189);
    }
    75% {
        color: rgb(97, 97, 97);
      }
    100% {
        color: rgb(0, 0, 0);
    }
}

h1 {
    animation: color-change 3s infinite;
}
